<div class="md-inline-form">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <span flex="" class="flex">Edit</span>
    </div>
  </md-toolbar>

  <md-content class="md-whiteframe-z2 move-up" layout-padding>

    <div ng-model="ctl.body" ui-ace="{
    useWrapMode : true,
    showGutter: true,
    mode: 'html',
    firstLineNumber: 1,
    onLoad: aceLoaded,
    onChange: aceChanged
    }">
    </div>
    <md-button ng-click="ctl.save()" class="md-raised md-primary">Save</md-button>

  </md-content>
</div>
